{% extends "admin/adminlte_base.html" %}
{% load static %}
{% block breadcrumb %}
    Квартири
{% endblock breadcrumb %}
{% block page_title %}
    Квартири
{% endblock page_title %}
{% block extra_css %}
    <link href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet">
    <style></style>
{% endblock extra_css %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-end mb-3">
                        <a href="{% url 'apartment-create' %}" class="btn btn-success">Створити квартиру</a>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-end mb-3">
                                <button id="clear-filters" class="btn btn-default btn-xs">Очистити</button>
                            </div>
                            <table id="housesTable"
                                   class="table table-bordered table-striped table-hover"
                                   style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>№ квартири</th>
                                        <th>Дім</th>
                                        <th>Секція</th>
                                        <th>Поверх</th>
                                        <th>Власник</th>
                                        <th>Дії</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th>
                                            <select id="house-filter" class="form-control">
                                                <option value="">-- Оберіть будинок --</option>
                                                {% for house in houses %}<option value="{{ house.id }}">{{ house.name }}</option>{% endfor %}
                                            </select>
                                        </th>
                                        <th>
                                            <select id="section-filter" class="form-control">
                                                <option value="">-- Оберіть секцію --</option>
                                            </select>
                                        </th>
                                        <th>
                                            <select id="floor-filter" class="form-control">
                                                <option value="">-- Оберіть поверх --</option>
                                            </select>
                                        </th>
                                        <th>
                                            
                                            <select id="user-filter" class="form-control">
                                                <option value="">-- Оберіть власника --</option>
                                                {% for user in users %}<option value="{{ user.id }}">{{ user.name }}</option>{% endfor %}
                                            </select>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'ajax_datatable/js/utils.js' %}"></script>
    <script>
        $(document).ready(function () {
            const $table = $('#housesTable');

            // Ініціалізація таблиці
            AjaxDatatableViewUtils.initialize_table(
                $table,
                "{% url 'apartments-datatable' %}",
                {
                    scrollX: true,
                    dom: 't<"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>', searching: false, info: false, lengthChange: false, language: { "emptyTable": "Дані у таблиці відсутні", paginate: { previous: "<<", next: ">>"
                        }
                    },
                    ajax: {
                        url: "{% url 'apartments-datatable' %}",
                        data: function (d) {
                            d.house_id = $('#house-filter').val(); // ID будинку
                            d.section_id = $('#section-filter').val(); // ID секції
                            d.floor_id = $('#floor-filter').val(); // ID поверху    
                        }
                    },
                    columns: [
                        {data: "number", orderable: false, },
                        {data: "house__name", orderable: false,},
                        {data: "section__name", orderable: false, },
                        {data: "floor__number", orderable: false, },
                        {data: "owner", orderable: false, },
                        {data: "actions", orderable: false, searchable: false}
                    ]
                }
            );

            // Підвантаження секцій та поверхів при зміні будинку
            $('#house-filter').on('change', function () {
                const houseId = $(this).val();

                // Очищення фільтрів секцій та поверхів
                $('#section-filter').html('<option value="">-- Оберіть секцію --</option>');
                $('#floor-filter').html('<option value="">-- Оберіть поверх --</option>');

                if (houseId) {
                    // Завантаження секцій
                    $.ajax({
                        url: "{% url 'get_sections_and_floors' %}",
                        data: {action: "get_sections", house_id: houseId},
                        success: function (data) {
                            for (const section of data) {
                                $('#section-filter').append(
                                    `<option value="${section.id}">${section.name}</option>`
                                );
                            }
                        },
                        error: function () {
                            console.error("Помилка завантаження секцій");
                        }
                    });

                    // Завантаження поверхів
                    $.ajax({
                        url: "{% url 'get_sections_and_floors' %}",
                        data: {action: "get_floors", house_id: houseId},
                        success: function (data) {
                            for (const floor of data) {
                                $('#floor-filter').append(
                                    `<option value="${floor.id}">${floor.number}</option>`
                                );
                            }
                        },
                        error: function () {
                            console.error("Помилка завантаження поверхів");
                        }
                    });
                }

                // Перезавантаження таблиці після обрання будинку
                $table.DataTable().ajax.reload();
            });

            // Перезавантаження таблиці при зміні секції або поверху
            $('#section-filter, #floor-filter').on('change', function () {
                $table.DataTable().ajax.reload();
            });

            // Кнопка "Очистити"
            $('#clear-filters').on('click', function () {
                $('#house-filter').val('');
                $('#section-filter').html('<option value="">-- Оберіть секцію --</option>');
                $('#floor-filter').html('<option value="">-- Оберіть поверх --</option>');
                $table.DataTable().ajax.reload();
            });
            $table.on('click', 'tbody tr', function(event) {
        const userId = $(this).data('id');

        // Перевірка, чи натиснуто на елемент кнопки у колонці дій
        if (!$(event.target).closest('.btn').length && userId) {
            const url = `{% url 'apartment-profile' apartment_id=0 %}`.replace('0', userId);
            window.location.href = url;
        }
    });
            // Видалення квартири
            $(document).on('click', '.delete-house-btn', function (event) {
                event.preventDefault();
                const button = $(this);
                const deleteUrl = button.data('url');

                if (confirm('Ви впевнені, що хочете видалити квартиру?')) {
                    $.ajax({
                        url: deleteUrl,
                        type: 'DELETE',
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        success: function (response) {
                            if (response.success) {
                                $table.DataTable().ajax.reload();
                            } else {
                                alert('Сталася помилка при видаленні квартири.');
                            }
                        },
                        error: function () {
                            alert('Сталася помилка при видаленні квартири.');
                        }
                    });
                }
            });
        });

    </script>
{% endblock extra_js %}
